stonehold-textured.glb filter=lfs diff=lfs merge=lfs -text lockable
courtyard-v2-textured.glb filter=lfs diff=lfs merge=lfs -text lockable
courtyard-v2-vertex-colored.glb filter=lfs diff=lfs merge=lfs -text lockable
